body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  width: 300px;
  margin: auto;
  grid-template-columns: auto auto auto;
}

.grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 75px;
}

@media only screen and (min-width: 720px) {
  .grid-container {
    width: 600px;
  }

  .grid-box {
    width: 200px;
    height: 200px;
    font-size: 150px;
  }
}

.button-area {
  margin: auto;
  padding-top: 20px;
}

#message {
  text-align: center;
}

#box0,
#box1,
#box3,
#box4 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#box2,
#box5 {
  border-bottom: 1px solid black;
}

#box6,
#box7 {
  border-right: 1px solid black;
}

.hide {
  display: none;
}
